* {
  box-sizing: border-box;
}

body {
  background: #f8f8ff;
  font-family: "Roboto";
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
}

h1,
h3 {
  margin: 0 auto;
}

.logo {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  font-weight: bold;
}

.header {
  grid-row-start: 1;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

.footer {
  grid-row-start: 3;
}

main {
  grid-row-start: 2;
}

.modal-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  width: 275px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding-left: 25px;
  border-radius: 10px;
  box-shadow: black;
}

.modal-text {
  margin-top: 25px;
  margin-bottom: 10px;
}

.survey-url-input {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
}

.survey-url-input:hover,
.survey-url-input:focus {
  outline: none;
}

.modal-close {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.questions-wrapper {
  margin: auto;
  max-width: 500px;
  min-width: 400px;
}

.box {
  margin-bottom: 25px;
  color: black;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.submit-btn {
  float: right;
  background-color: #3f51b5;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  width: 175px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  margin-right: 3px;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box-header {
  margin: auto;
  max-width: 500px;
  min-width: 400px;
  background: #3f51b5;
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.card-form {
  padding: 35px;
  padding-top: 20px;
}

.add-question-btn {
  display: block;
  background: transparent;
  border: none;
}

.menu-icon {
  float: left;
  margin-left: 25px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

.question-input,
.option-input {
  padding-left: 5px;
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  font-family: sans-serif;
}

.question-title {
  font-size: 20px;
  font-weight: bold;
}

.radio-label {
  font-size: 17px;
}

.radio-buttons-container {
  margin-top: 20px;
}

.radio-button {
  display: block;
  height: 35px;
}

.question-input {
  margin-bottom: 35px;
  resize: vertical;
  font-size: 20px;
  height: 45px;
}

.option-input {
  margin-bottom: 25px;
  height: 32px;
  margin-left: 9px;
}

.option-input:focus {
  margin-left: 12px;
  transition: 0.2s;
}

.results {
  margin-top: 25px;
}

.result {
  margin-bottom: 20px;
}

.result-option {
  display: inline;
}

.result-votes {
  float: right;
}

.result-percentage-bar {
  display: block;
  margin-top: 3px;
  height: 20px;
  border-radius: 3px;
  background-color: #95a0da;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  background-color: #f8f8ff;
}
